<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">
      {% if page.lang == "es" %}
        Gracias por tu visita
      {% else %}
        Thanks for stopping by
      {% endif %}
    </h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {% if page.lang == "es" %}
              Hecho por Luis Cerda con inteligencia natural 🤓
              <br>
              (en su mayor parte)
            {% else %}
              Made by Luis Cerda with natural intelligence 🤓
            <br>
              (mostly)
            {% endif %}
           </li>
            {%- if site.email -%}
          <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>
          {% if page.lang == "es" %}
            Portafolio, web personal y blog
          {% else %}
            Portfolio, personal site and blog 
          {% endif %}
        </p>
      </div>
    </div>

  </div>

</footer>
